@import "../../../../sass/utils/include-media";

@mixin styles($hidden) {
  #appHeader {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    position: absolute;
    width: 100%;
    height: 5.5rem;
    font-family: "Open Sans", sans-serif;
    @if $hidden == false {
      position: relative;
      margin-bottom: 2.5rem;
    }
    z-index: 20;
    -webkit-transition: -webkit-transform .25s ease-in-out;

    button {
      width: 5.5rem;
      height: 5.5rem;
      color: #ebebeb;
      background: none;
      border: none;
      padding: 0;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 2.1rem;
        }
      }

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        transition: border-radius 0.2s ease-in-out;
      }

      &:hover {
        color: #fff;
        cursor: pointer;
        span {
          img {
            border-radius: calc(3rem / 4);
          }
        }
      }

      &:focus {
        outline: none;
      }
    }

    h1 {
      @if $hidden {
        display: none;
      } @else {
        display: flex;
      }
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      color: #fff;
      font-size: 2.1rem;
      font-weight: 400;
      letter-spacing: 0.3rem;
      text-align: center;
      vertical-align: middle;
      margin: 0;
    }

    .menu {

    }

    .about {
      @if $hidden {
        display: none;
      }
    }
  }
}

@include media('<=phone') {
  $values: (
    hidden: false
  );

  @include styles($values...);
}

@include media('>=phone', '<=tablet') {
  $values: (
    hidden: false
  );

  @include styles($values...);
}

@include media('>=tablet', '<=desktop', 'landscape', 'retina2x') {
  $values: (
    hidden: true
  );

  @include styles($values...);
}

@include media('>=tablet', '<desktop') {
<<<<<<< Updated upstream
  $values: (
    hidden: true
  );

  @include styles($values...);
}

@include media('>=tablet', '<=desktop') {
=======
>>>>>>> Stashed changes
  $values: (
    hidden: true
  );

  @include styles($values...);
}

@include media('>=desktop') {
  $values: (
    hidden: true
  );

  @include styles($values...);
}
