@import "~include-media/dist/include-media";

@mixin styles() {
  .modal {
    position: absolute;
    z-index: 30;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: {
      y: auto;
      x: hidden;
    }
  }

  &.open {
    display: flex;
  }
}

@include media("<=desktop") {
  @include styles();
}

@include media(">desktop") {
  @include styles();
}
