@import "~include-media/dist/include-media";

@mixin styles($hidden) {
  .appHeader {
    position: absolute;
    z-index: 20;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
    font-family: "Open Sans", sans-serif;

    @if $hidden == false {
      position: relative;
      margin-bottom: 2.5rem;
    }

    button {
      width: 5.5rem;
      height: 5.5rem;
      padding: 0;
      border: 0;
      color: #ebebeb;
      background: none;

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 2.1rem;
        }
      }

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        transition: border-radius 0.2s ease-in-out;
      }

      &:hover {
        color: #fff;
        cursor: pointer;

        span {
          img {
            border-radius: calc(3rem / 4);
          }
        }
      }

      &:focus {
        outline: none;
      }
    }

    h1 {
      display: if($hidden, none, flex);
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      margin: 0;
      font: {
        size: 2.1rem;
        weight: normal;
      }
      letter-spacing: 0.3rem;
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }

    .about {
      @if $hidden {
        display: none;
      }
    }
  }
}

@include media("<=phone") {
  $values: (hidden: false);

  @include styles($values...);
}

@include media(">=phone", "<=tablet") {
  $values: (hidden: false);

  @include styles($values...);
}

@include media(">=tablet", "<=desktop", "landscape", "retina2x") {
  $values: (hidden: true);

  @include styles($values...);
}

@include media(">=tablet", "<desktop") {
  $values: (hidden: true);

  @include styles($values...);
}

@include media(">=tablet", "<=desktop") {
  $values: (hidden: true);

  @include styles($values...);
}

@include media(">=desktop") {
  $values: (hidden: true);

  @include styles($values...);
}
