@import "~styles/colors";

.rating {
  display: flex;
  flex: 0 0 auto;

  button {
    display: flex;
    flex: 0 0 auto;
    align-content: center;
    padding: {
      top: 0;
      right: 0.25rem;
      bottom: 0;
      left: 0.25rem;
    }
    color: $chalk;

    &.starred {
      color: $blue;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
