.rating {
  width: auto;
  height: 100%;

  .Fill {
    opacity: 0;
  }
}

.one {
  #Fill_1 {
    opacity: 1;
  }
}

.two {
  #Fill_1 {
    opacity: 1;
  }
  #Fill_2 {
    opacity: 1;
  }
}

.three {
  #Fill_1 {
    opacity: 1;
  }
  #Fill_2 {
    opacity: 1;
  }
  #Fill_3 {
    opacity: 1;
  }
}

.four {
  #Fill_1 {
    opacity: 1;
  }
  #Fill_2 {
    opacity: 1;
  }
  #Fill_3 {
    opacity: 1;
  }
  #Fill_4 {
    opacity: 1;
  }
}

.five {
  #Fill_1 {
    opacity: 1;
  }
  #Fill_2 {
    opacity: 1;
  }
  #Fill_3 {
    opacity: 1;
  }
  #Fill_4 {
    opacity: 1;
  }
  #Fill_5 {
    opacity: 1;
  }
}
