@import "~styles/colors";
@import "~styles/mixins/text-gradient";
@import "~include-media/dist/include-media";

@mixin styles($scale, $content-max-width, $skill-width, $phone, $hidden) {
  :global(#resume) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .title {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;
      max-width: $content-max-width;
      padding: if($phone, 1rem 0 1rem 0, 6rem 0 2rem 0);
      text-align: center;

      h1 {
        @include text-gradient($primary-gradient);
        flex: 0 0 auto;
        margin: 0;
        font: {
          size: calc(5rem * #{$scale});
          family: "Orbitron";
          weight: bold;
        }
        line-height: calc(5rem * #{$scale});
        color: $purple;
        text-transform: uppercase;
      }

      h2 {
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: 3rem;
        line-height: calc((5rem * 0.6) * #{$scale});
        font: {
          size: calc((5rem * 0.69) * #{$scale});
          family: "Klavika";
          weight: 300;
        }
        color: $blue;
      }

      ul {
        display: flex;
        flex-flow: if($phone, column, row);
        justify-content: center;

        li {
          flex: 1 0 auto;
          min-width: 10rem;
          padding: 0 1rem;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font: {
              size: 2.6rem;
              family: "Klavika";
              variant: small-caps;
              style: normal;
            }
            color: $blue;
            text: {
              transform: lowercase;
              decoration: none;
            }

            i {
              margin-right: 1rem;
              font-size: 2.6rem;
              color: $purple;
            }

            &:hover {
              color: lighten($blue, 10%);
            }
          }
        }
      }
    }

    .content_block {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      max-width: $content-max-width;
      padding: if($phone, 0 1rem, 1rem 2rem);
      font-family: "Klavika";

      h3 {
        margin: 0;
        font: {
          size: 2.2rem;
          style: italic;
          weight: 300;
        }
        color: $blue;
      }

      hr {
        height: 0.2rem;
        margin: {
          top: 0;
          right: 0;
          bottom: 0.5rem;
          left: 0;
        }
        border: 0;
        background-color: $gray;
      }

      ul {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        width: 100%;

        li {
          flex: 0 0 auto;
          width: 100%;
          font: {
            size: 1.8rem;
            weight: 300;
          }
          color: $gunmetal;
          text-transform: none;

          .header {
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;

            h4 {
              flex: 0 0 auto;
              margin: 0;
              font-size: 2rem;
              color: $purple;

              strong {
                padding: 0 0.5rem;
                font-style: normal;
                text-shadow: none;
              }
            }

            h5 {
              flex: 0 0 auto;
              margin: 0;
              font: {
                size: 2rem;
                style: normal;
                weight: 300;
              }
              color: $blue;

              a {
                color: $blue;
                text: {
                  decoration: none;
                  shadow: none;
                }
              }
            }

            span {
              flex: 1 0 auto;
              text-align: right;

              h6 {
                margin: 0;
                font: {
                  size: 1.8rem;
                  style: normal;
                  weight: 300;
                }
                color: $blue;
              }

              a {
                font: {
                  size: 1.8rem;
                  style: normal;
                  weight: 300;
                }
              }

              strong {
                padding: 0 0.5rem;
                font: {
                  style: normal;
                  weight: 700;
                }
                color: $purple;
              }

              ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                li {
                  width: auto;
                  font: {
                    size: 1.8rem;
                    style: italic;
                    weight: 300;
                  }
                }
              }
            }
          }

          .details {
            display: if($hidden, none, flex);

            span {
              display: flex;
              flex: 1 0 calc((100% / 3) * 2);
              padding-right: 0.5rem;
              font: {
                size: 1.6rem;
                style: italic;
                weight: 300;
                variant: normal;
              }
              color: $cobalt;

              em {
                padding-left: 0.5rem;
                font-style: normal;
                color: $blue;
              }

              ul {
                padding-left: 0.5rem;
                font-style: normal;
              }

              &:first-child {
                flex: 1 0 calc(100% / 3);
              }

              &:last-child {
                padding-right: 0;
              }
            }
          }

          .tags {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 0;

            li {
              flex: 0 0 auto;
              width: auto;
              font-size: 1.6rem;
              color: $blue;

              &:last-child {
                margin-right: 0;

                &::after {
                  content: "";
                }
              }

              &::after {
                content: ",\00a0";
              }
            }
          }

          p {
            text-indent: 2.5rem;
          }

          .highlights {
            padding: {
              right: 3rem;
              left: 3rem;
            }
            margin-bottom: 1rem;

            li {
              padding-left: 2rem;

              :global(.markup) {
                display: inline;

                p {
                  display: inline;
                }
              }

              &::before {
                display: inline;
                padding-right: 1rem;
                margin-left: -2rem;
                font-size: 1.8rem;
                color: $green;
                content: "\BB";
              }
            }
          }
        }
      }
    }

    .expertise {
      .legend {
        display: if($hidden, none, flex);
        margin-top: 1.5rem;

        li {
          flex: 1 0 auto;
          flex-direction: column;
          align-content: center;
          width: calc(100% / 5);
          min-width: 22rem;
          padding: 0;

          > * {
            display: flex;
            justify-content: center;
          }

          span {
            font: {
              size: 1.8rem;
              family: "Klavika";
              style: italic;
              variant: small-caps;
              weight: 300;
            }
            color: $cobalt;
            text-transform: lowercase;
          }
        }
      }

      ul {
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: space-around;

        li {
          display: flex;
          flex: 1 0 calc((100% / #{$skill-width}));
          justify-content: space-between;
          width: calc((100% / #{$skill-width}));
          min-width: calc(20rem);
          padding: 0 1rem;
          margin: 0;
          font: {
            family: "Klavika";
            style: italic;
            variant: small-caps;
            weight: 300;
          }
          line-height: 3rem;
          text-transform: lowercase;

          > span {
            flex: 1 0 auto;
            font-size: 2.4rem;
          }

          .skill {
            p {
              margin: 0;
              text-indent: 0;
            }

            em {
              color: $cobalt;
            }
          }

          .skill_details {
            position: relative;
            display: if($hidden, none, flex);
            flex: 1 0 auto;
            align-items: center;
            justify-content: flex-end;

            > * {
              position: absolute;
              flex: 1 0 auto;
              height: 100%;
              vertical-align: middle;
              cursor: default;
              transition: opacity 0.5s ease-in-out;
              user-select: none;
            }

            span {
              font-size: 2rem;
            }

            > :first-child {
              opacity: 1;
            }

            > :last-child {
              opacity: 0;
            }
          }

          &:hover {
            .skill_details {
              > :first-child {
                opacity: 0;
              }

              > :last-child {
                opacity: 1;
              }
            }
          }

          &.placeholder {
            height: 0;
            padding: 0 1rem;
            margin: 0;
            border: 0;
            visibility: hidden;
          }
        }
      }
    }

    .experience {
      ul {
        li {
          .assignments {
            padding-left: 1rem;
          }
        }
      }
    }

    .education {
      .focus {
        display: flex;
        align-items: baseline;
        margin: {
          top: -0.5rem;
          bottom: 0.5rem;
        }

        h4 {
          flex: 0 0 auto;
          margin: 0;
          font: {
            size: 2rem;
            style: italic;
            weight: 300;
          }
        }
      }
    }
  }
}

@include media("<=phone") {
  $values: (
    scale: 0.6,
    content-max-width: 100%,
    skill-width: 1,
    phone: true,
    hidden: true
  );

  @include styles($values...);
}

@include media(">=phone", "<=tablet") {
  $values: (
    scale: 0.6,
    content-max-width: 100%,
    skill-width: 2,
    phone: false,
    hidden: true
  );

  @include styles($values...);
}

@include media(">=tablet", "<=desktop", "landscape", "retina2x") {
  $values: (
    scale: 1,
    content-max-width: 100%,
    skill-width: 4,
    phone: false,
    hidden: true
  );

  @include styles($values...);
}

@include media(">=tablet", "<desktop") {
  $values: (
    scale: 1,
    content-max-width: 100%,
    skill-width: 4,
    phone: false,
    hidden: true
  );

  @include styles($values...);
}

@include media(">=desktop") {
  $values: (
    scale: 1,
    content-max-width: 128rem,
    skill-width: 3,
    phone: false,
    hidden: false
  );

  @include styles($values...);
}
