@import "~include-media/dist/include-media";

@mixin styles($title-padding, $name-size, $name-height, $title-size, $title-height, $content-max-width, $skill-margin, $skill-width) {
  #resume {
    #title {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 100%;
      padding: $title-padding;
      color: rgb(255, 255, 255);
      text-align: center;

      h1 {
        flex: 0 0 auto;
        margin: 0;
        font: {
          size: $name-size;
          family: "Orbitron";
          weight: bold;
        }
        text: {
          transform: uppercase;
          shadow: 0 0 1rem rgba(171, 246, 255, 0.9);
        }
        line-height: $name-height;
      }

      h2 {
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: 3rem;
        line-height: $title-height;
        font: {
          size: $title-size;
          family: "klavika_light";
          weight: normal;
        }
        color: rgba(236, 254, 255, 0.9);
        text-shadow: 0 0 0.5rem rgba(171, 246, 255, 0.9);
      }

      ul {
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.15);

        li {
          flex: 0 0 auto;
          min-width: 10rem;
          padding: 0 1rem;

          a {
            font: {
              size: 2.4rem;
              family: "klavika_reg_caps";
              style: normal;
            }
            color: rgba(236, 254, 255, 0.9);
            text-decoration: none;

            i {
              margin-right: 1rem;
              font-size: 2.6rem;
            }

            &:hover {
              color: rgba(255, 255, 255, 1);
              text-shadow: 0 0 5px rgba(171, 246, 255, 0.9);
            }
          }
        }
      }
    }

    .content_block {
      $cut: 2.5rem;
      $margin-width: 3rem;

      position: relative;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      clip-path: polygon($cut 0%, 100% 0%, 100% calc(100% - #{$cut}), calc(100% - #{$cut}) 100%, 0% 100%, 0% $cut);
      width: calc(100% - (#{$margin-width} * 2));
      max-width: $content-max-width;
      padding: 1rem 2rem;
      margin: 1.5rem $margin-width;
      border: 0.2rem solid rgba(255, 255, 255, 0.65);
      border-radius: 0.3rem;
      background-color: rgba(255, 255, 255, 0.9);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        border: {
          width: $cut $cut 0 0;
          color: rgba(255, 255, 255, 0.65) transparent transparent rgba(255, 255, 255, 0.65);
          style: solid;
        }
        content: "";
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        border: {
          width: 0 0 $cut $cut;
          color: transparent #fff #fff transparent;
          style: solid;
        }
        content: "";
      }

      h3 {
        text-transform: uppercase;
        font: {
          size: 2.2rem;
          family: "Orbitron";
          weight: bold;
        }
      }

      ul {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        li {
          flex: 0 0 auto;
          width: 100%;

          .header {
            display: flex;
            align-items: baseline;

            h4 {
              flex: 0 0 auto;
              margin: 0;
              font: {
                size: 1.8rem;
                family: "klavika_regular";
                style: italic;
              }
              text-shadow: -0.5px -0.5px 1px #3fa9f5;

              strong {
                margin: 0 0.5rem;
                font-style: normal;
                color: #3fa9f5;
                text-shadow: none;
              }
            }

            h5 {
              flex: 0 0 auto;
              margin: 0;
              font: {
                size: 1.4rem;
                family: "klavika_regular";
                style: normal;
              }
              color: #3fa9f5;

              a {
                color: #3fa9f5;
                text: {
                  decoration: none;
                  shadow: none;
                }
              }
            }

            span {
              flex: 1 0 auto;
              text-align: right;

              h6 {
                margin: 0;
                font: {
                  size: 1.2rem;
                  family: "klavika_regular";
                  style: italic;
                }
                color: #3fa9f5;

                strong {
                  margin: 0 0.25rem;
                  font-style: normal;
                }
              }
            }
          }

          hr {
            height: 0.2rem;
            margin: 0;
            margin-bottom: 1rem;
            border: 0;
            background-color: #3fa9f5;
          }

          .subheader {
            display: flex;
            align-items: baseline;
            margin: {
              top: -0.5rem;
              bottom: 0.5rem;
            }

            h4 {
              flex: 0 0 auto;
              margin: 0;
              font: {
                size: 1.2rem;
                family: "klavika_regular";
              }
            }

            span {
              flex: 1 0 auto;
              text-align: right;

              h6 {
                margin: 0;
                font: {
                  size: 1.2rem;
                  family: "klavika_regular";
                }
              }
            }
          }

          .tags {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 0;
            opacity: 0.5;
            transition: opacity 0.5s ease-in-out;

            &:hover {
              opacity: 1;
            }

            li {
              flex: 0 0 auto;
              width: auto;
              padding: 0 0.5rem;
              margin: {
                right: 0.5rem;
                bottom: 0.5rem;
              }
              border-radius: 0.25rem;
              font-size: 1.2rem;
              color: #fff;
              background-color: #3fa9f5;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          p {
            text-indent: 2.5rem;
          }

          .highlights {
            padding-left: 0;
            margin-bottom: 1rem;

            li {
              padding-left: 2rem;

              &::before {
                display: inline;
                padding-right: 1rem;
                margin-left: -2rem;
                font: {
                  size: 1.8rem;
                  family: "klavika_regular";
                }
                color: #7ac943;
                content: "\BB";
              }
            }
          }
        }
      }
    }

    #expertise {
      ul {
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: space-around;

        li {
          position: relative;
          display: flex;
          flex: 1 0 calc(20rem - #{$skill-margin * 2});
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: calc((100% / $skill-width) - #{$skill-margin * 2});
          min-width: calc(20rem - #{$skill-margin * 2});
          height: 5rem;
          max-height: 5rem;
          padding: 0.5rem;
          margin: $skill-margin;
          font-family: "klavika_reg_caps";
          $color: rgba(0, 0, 0, 0.25);
          $fill: #3fa9f5;
          $corner: 1rem;
          $width: 0.2rem;
          $padding: 0;

          &::before {
            position: absolute;
            right: $padding;
            bottom: $padding;
            width: $corner;
            height: $width;
            background: $color;
          }

          &::after {
            position: absolute;
            right: $padding;
            bottom: $padding;
            width: $width;
            height: $corner;
            background: $color;
            content: "";
          }

          div {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 2.5rem;

            span {
              display: inline-block;
              flex: 1 0 auto;

              &:last-child {
                text-align: right;
              }
            }
          }

          .skill_rating {
            font-size: 1.6rem;

            div {
              display: inline-block;
              width: auto;

              .rating {
                .outline {
                  color: $color;
                  fill: currentColor;
                }

                .fill {
                  color: $fill;
                  fill: currentColor;
                }

                .hidden {
                  opacity: 0;
                }
              }
            }

            &::before {
              position: absolute;
              top: $padding;
              left: $padding;
              width: $corner;
              height: $width;
              background: $color;
              content: "";
            }

            &::after {
              position: absolute;
              top: $padding;
              left: $padding;
              width: $width;
              height: $corner;
              background: $color;
              content: "";
            }
          }

          .skill_details {
            display: flex;
            height: 0;
            font-size: 1.4rem;
            opacity: 0;
            transition: height 0.5s, opacity 0.5s ease-in-out;
          }

          &:hover {
            .skill_details {
              height: 2.5rem;
              opacity: 1;
            }
          }

          &.placeholder {
            height: 0;
            padding: 0;
            margin: 0 $skill-margin;
            border: 0;
            visibility: hidden;
          }
        }
      }
    }

    #experience {
      ul {
        li {
          .assignments {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

@include media("<=phone") {
  $values: (
    title-padding: 0 0 2rem 0,
    name-size: 3.2rem,
    name-height: 3rem,
    title-size: 2.23rem,
    title-height: 2.5rem,
    content-max-width: 128rem,
    skill-margin: 0.5rem,
    skill-width: 1
  );

  @include styles($values...);
}

@include media(">=phone", "<=tablet") {
  $values: (
    title-padding: 0 0 2rem 0,
    name-size: 3.2rem,
    name-height: 3rem,
    title-size: 2.23rem,
    title-height: 2.5rem,
    content-max-width: 128rem,
    skill-margin: 0.5rem,
    skill-width: 2
  );

  @include styles($values...);
}

@include media(">=tablet", "<=desktop", "landscape", "retina2x") {
  $values: (
    title-padding: 6rem 0 2rem 0,
    name-size: 4.8rem,
    name-height: 5rem,
    title-size: 3.33rem,
    title-height: 3rem,
    content-max-width: 128rem,
    skill-margin: 0.5rem,
    skill-width: 4
  );

  @include styles($values...);
}

@include media(">=tablet", "<desktop") {
  $values: (
    title-padding: 6rem 0 2rem 0,
    name-size: 4.8rem,
    name-height: 5rem,
    title-size: 3.33rem,
    title-height: 3rem,
    content-max-width: 128rem,
    skill-margin: 0.5rem,
    skill-width: 4
  );

  @include styles($values...);
}

@include media(">=desktop") {
  $values: (
    title-padding: 6rem 0 2rem 0,
    name-size: 4.8rem,
    name-height: 5rem,
    title-size: 3.33rem,
    title-height: 3rem,
    content-max-width: 128rem,
    skill-margin: 0.5rem,
    skill-width: 6
  );

  @include styles($values...);
}
